.login-header{
    background: #585555;
    color: white;
    
    display: flex;
    
  justify-content: space-between;
  align-items: center;
  
}
.hamburger-icon {
    cursor: pointer;
    font-size: 24px;
    margin-left: 20px;
    /* Add any other styles you want */
  }
  .login-header h4 {
    text-align: center;
    margin-right: 45%;
    
  }
  body{
    background-color: black;
  }
 
  .container {
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
 
  }
   
 
.first-division{
    width: 600px;
    
    
}
.first-division img {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 50%; /* For a circular image, adjust as needed */
  }
.second-division {
  width: 400px; /* Set the width for the first two divisions */
  margin-right: 0; /* No margin between the first two divisions */
  background-color: white;
  height: auto;
  
}
.third-division {
    width: 300px; /* Set the width for the third division */
     /* Small margin between the second and third divisions */
    margin-left: 20px;
    background-color: #fbfbfb; /* Set background color or any other styles */
    
  }
 
  .signin-heading . {
    text-align: left;
    margin-top: 10px;
  }
  .signin-content {
    
    margin-left: 20px;
    width: 90%;
    
  }
  .signin-content p {
    font-size: 10px;
  }
 .signin-content a{
    color: #ed460f;
  }
  .third-division.input-container {
    width: 60%; /* Make the input container full width */
    max-width: 200px; /* Set a maximum width for better readability */
    margin-bottom: 5px;
  }
  
  .input-container label {
    display: block;
  }
  
  .input-container input {
    width: 80%;
    padding: 10px;
  }
  
  .signin-content label{
    font-size: 12px;
    font-weight: 500;
  }
  
  .password-input {
    position: relative;
  }
  .password-input input {
    width: calc(100% - 24px); /* Adjust the width of the input */
  }
  
  
  .password-input span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 13px;
  }
  
  .forgot-password {
    color: #547385;
    font-size: 13px;
    
    cursor: pointer;
  }
  .register-button {
    width: 90%;
    padding: 10px;
    background-color: #fb0330;
    align-items: center;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  .or-divider {
    margin: 15px 0;

    align-items: center;
    text-align: center;
    color: #95a5a6;
  }
  
 .eye{
    justify-content: flex-end;
 }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons span {
    padding:10px;
    
    border-radius: 4px;
    cursor: pointer;
  }

  .second-division .register-button {
    width: 80%;
  }
  .second-division .signin-content{
    
    margin-left: 60px;
    width:100%
    
  }
  .second-division.signin-content p {
    font-size: 20px;
  }
  .second-division form{
    width: 90%;
  }
  .second-division.input-container {
    margin-bottom: 5px;
    padding: 15px;
  }
  
  .second-division.input-container label {
    display: inline-block;
  }
  .second-division .input-container input {
    width: 70%; /* Make the input take up the full width of its container */
    padding: 10px; /* Add padding for better styling */
  }
  .signin-container {
    display: flex;
    flex-direction: column; /* Stack the divs vertically on smaller screens */
    align-items: center;
  }